body {
	background: url(../assignment2/imag/contemporary_china.png) repeat;
}

#mainNav {
	height: 15%;
	color: white;
	border-bottom: 3px solid #b3cccc;
}	


#navbar-brand{
	color: #ffffff;
	font-size: 250%;
	font-family: 'Cantarell', sans-serif;
	background-color: #4aaaa5;
	padding: 20px;
	position:absolute; 
	bottom: 0;
	margin-bottom: 0;
}

#whitebox {
	background: white;
	color: grey;
	margin-top: 15%;
	left: 12px;
	border: 5px;
	border-color: #4aaaa5;
}

#aboutme{ 
	color: #4aaaa5;
	font-family: 'Cantarell', sans-serif;
	border-bottom: 5px solid #b3cccc;

}

#cont{ 
	color: #4aaaa5;
	font-family: 'Cantarell', sans-serif;
	border-bottom: 5px solid #b3cccc;

}

#portf{ 
	color: #4aaaa5;
	font-family: 'Cantarell', sans-serif;
	border-bottom: 5px solid #b3cccc;

}

#smallbox{
	text-align: center;
	font-family: 'Cantarell', sans-serif;
	background-color: white;
	margin-top: 15%;
	padding-bottom: 45px;
	font-size: 200%;
	color: #4aaaa5;
}

#cwm{
	border-bottom: 5px solid #b3cccc;

}

#navright{
	margin-top: 3%
}

#footerbottom{
	background-color: grey;
	border-bottom: 30px solid grey;
	bottom: 0;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	font-family: 'Cantarell', sans-serif;
	color: white;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; 
}
